<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carme&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body class="index">
    <nav class="navbar">
      <img src="/images/logo.svg" alt="onlymembers logo">
      <div class="navbar__container">
        <% if (!login) { %>
        <button class="navbar__button btn-white" id="logIn">log in</button>
        <button class="navbar__button btn-pink" id="signUp">sign up</button>
        <% } else { %>
        <a href="/log-out" class="navbar__button btn-white" id="logOut">log out</a>
        <% } %>
      </div>
    </nav>

    <% if (login) { %>
    <aside class="message__aside">
      <form action="" method="post" class="message__form">
        <input class="form__title" type="text" name="title" id="title" placeholder="title" required>
        <textarea class="form__text" name="message" id="message" cols="30" rows="10" placeholder="message" required></textarea>
        <input class="form__submit" type="submit" value="send" class="btn-pink">
      </form>
    </aside>
    <% } %>


    <main class="messages__container">

      <div class="message__container message-left">
        <h2 class="message__title">nadpis</h2>
        <p class="message__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, reiciendis. Nisi illum cum eveniet vero! Quia repudiandae architecto iste non iusto magnam omnis laborum suscipit a maxime officia, voluptas doloremque!</p>
        <div class="message__info">you have to be in the club to see author and date</div>
      </div>

      <div class="message__container message-right">
        <h2 class="message__title">nadpis</h2>
        <p class="message__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, reiciendis. Nisi illum cum
          eveniet vero! Quia repudiandae architecto iste non iusto magnam omnis laborum suscipit a maxime officia, voluptas
          doloremque!</p>
        <div class="message__info">you have to be in the club to see author and date</div>
      </div>

    </main>

    <% if (!login) { %>
    <aside class="modal" id="modalSignup">
      <form action="" method="post" class="signup__form" id="signUpForm" required>
        <input type="text" name="name" id="name" placeholder="name" required>
        <input type="email" name="email" id="email" placeholder="email" required>
        <input type="password" name="password" id="password" placeholder="password" required>
        <input type="password" name="password2" id="passwordConfirm" placeholder="confirm password" required>
        <input type="submit" class="signup__submit btn-pink" value="send" id="signUpSubmit">
      </form>
    </aside>

    <aside class="modal" id="modalLogin">
      <form action="" method="post" class="signup__form" id="logInForm">
        <input type="email" name="username" id="emailLog" placeholder="email">
        <input type="password" name="password" id="passwordLog" placeholder="password">
        <input type="submit" value="send" class="signup__submit btn-pink" id="logInSubmit">
      </form>
    </aside>
    <% } %>

  </body>

  <script>

    const signUpButton = document.getElementById('signUp');
    const signUpForm = document.getElementById('signUpForm');
    const signUpSubmit = document.getElementById('signUpSubmit');
    const modalSignup = document.getElementById('modalSignup');

    const logInButton = document.getElementById('logIn');
    const logInSubmit = document.getElementById('logInSubmit');
    const modalLogin = document.getElementById('modalLogin');
    const logInForm = document.getElementById('logInForm');

    signUpButton.addEventListener('click', () => {
      signUpForm.classList.toggle('show');
      modalSignup.classList.toggle('modal-show');
    });

    logInButton.addEventListener('click', () => {
      logInForm.classList.toggle('show');
      modalLogin.classList.toggle('modal-show');
    });

    // signUpSubmit.addEventListener('click', () => {
    //   signUpForm.classList.remove('show');
    //   modalSignup.classList.remove('modal-show');
    // });

    // logInSubmit.addEventListener('click', () => {
    //   logInForm.classList.remove('show');
    //   modalLogin.classList.remove('modal-show');
    // });

    window.addEventListener("click", (e) => {
        if (e.target.id == "modalLogin" || e.target.id == "modalSignup") {
          modalSignup.classList.remove("modal-show");
          signUpForm.classList.remove('show');
          modalLogin.classList.remove("modal-show");
          logInForm.classList.remove('show');
        };
      });

  </script>
</html>