<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

    <body id="fridge">
        <picture>
            <img src="/images/cupboard.png" alt="cupboard">
        </picture>

        <ul>
            <!-- consumables appear here -->
        </ul>

    </body>

</html>