<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

    <body id="freezer">
        <picture>
            <img src="/images/freezer.png" alt="freezer">
        </picture>

        <ul>
            <!-- consumables appear here -->
        </ul>

    </body>

</html>