:root {
  --bs-border-color: #474a4d;
  --form-border-color: #ecb604;
  --form-box-shadow: 0 0 .25rem .50rem rgba(99, 59, 0, 0.25);

  --form-check-input-checked-bg-color: var(--form-border-color);
  --form-check-input-checked-border-color: var(--form-border-color);

  --form-check-input-focus-box-shadow: var(--form-box-shadow);

  --btn-primary-bg-color: var(--form-border-color);
  --btn-primary-border-color: var(--form-border-color);

  --btn-primary-hover-bg-color: rgb(145, 99, 1);
  --btn-primary-hover-border-color: var(--form-border-color);
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(219, 219, 214);
  min-height: 100vh;
}

label {
  display: none;
}

label.label-checkbox {
  display: inline;
}

#second {
  background-color:#474a4d;
}

#second h2 {
  color: rgb(219, 219, 214);
}

#second .form-check-label {
  color: rgb(219, 219, 214);
}

.index-description {
  text-align: center;
}

/* form */

.form-control:focus {
  border-color: var(--form-border-color);
  box-shadow: var(--form-box-shadow);
}

.form-select:focus {
  border-color: var(--form-border-color);
  box-shadow: var(--form-box-shadow);
}

.form-check-input:focus {
  box-shadow: var(--form-check-input-focus-box-shadow);
}

.form-check-input:checked {
  background-color: var(--form-check-input-checked-bg-color);
  border-color: var(--form-check-input-checked-border-color);
}

.btn-primary {
  background-color: var(--btn-primary-bg-color);
  border-color: var(--btn-primary-border-color);
  color: black;
}

.btn-primary:hover {
  background-color: var(--btn-primary-hover-bg-color);
  border-color: var(--btn-primary-hover-border-color);
}

/* INDEX */

#index .navbar {
  width: 100%;
}

.index-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 3rem;
}

.index-section.second .list-group {
  min-width: 50vw;
}

.index-section.second .list-group-item a {
  display: flex;
}

#index .main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
}

#index picture {
  width: 100%;
}

#index img {
  max-width: 100%;
}

/* FRIDGE, FREEZER, CUPBOARD  */

#fridge main ,#cupboard main ,#freezer main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.container {
  max-width: 70vw;
  display: flex;
  justify-content: space-between;
}

#fridge .row, #cupboard .row, #freezer .row {
  width: 100%;
}

.illustration {
  width: 100%;
}

.storage-a {
  transition: 200ms;
}

.storage-a:hover {
  transition: 200ms;
  scale: 1.1;
}

p {
  font-size: 1rem;
}

li {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.list-group p {
  margin: 0;
}

.consumable-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.consumable-col {
  flex-basis: 100px;
}

.consumable {
  border: 1px solid black;
}

.list-header {
  background-color: slategray;
}

.list-header .consumable-row .consumable-col{
  color: white;
  font-weight: 700;
  margin: .7rem 0;
}

.btn-update {
  min-width: max-content;
  margin-right: 7%;
}

.row.update {
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 5%;
}

.update input.form-control {
  width: 50%;
}

.update button {
  width: 40%;
}

.trashcan {
  background-image: url(../images/trash-can.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 200ms;
  width: 2rem;
  height: 3rem;
}

.trashcan:hover {
  scale: 1.1;
  transition: 200ms;
}

.recipe-container {
  display: flex;
  justify-content: center;
  gap: 3%;
  flex-wrap: wrap;
}

.recipe:hover {
  transition: 200ms;
  scale: 1.05;
}

.recipe-usedIngredient {
  color: darkgreen;
}

.recipe-missedIngredient {
  color: darkred;
}

.recipe-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 2rem 3rem;
}

@media (max-width: 768px) {

  .index-section.second .list-group {
    min-width: 90vw;
  }

  #first {
    padding: 2rem;
  }

  #second {
    padding: 2rem;
  }

  .recipe-container {
    gap: 2rem;
  }

  .navbar-toggler {
    background-color: rgb(219, 219, 214);
  }

  .list-group-item.consumable {
    font-size: .8rem;
  }

  .btn-update {
    font-size: .8rem;
    margin-right: 0;
  }
}
  
@media (max-width: 540px) {
  .consumable-col {
    flex-basis: 75px;
  }
  
}