* {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* INDEX */

#index h1 {
  text-align: center;
}

#index .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#index a {
  flex-basis: 20%;
  display: block;
}

#index picture {
  width: 100%;
}

#index img {
  max-width: 100%;
}


/* FRIDGE */

#fridge {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#fridge .container {
  max-width: 70vw;
  display: flex;
  justify-content: space-between;
}

#fridge .col-1 {
  flex-basis: 30%;
}

#fridge .col-2 {
  flex-basis: 20%;
}

#fridge .col-3 {
  flex-basis: 45%;
}

#fridge .illustration {
  width: 100%;
}

#fridge p {
  font-size: 1rem;
}

#fridge li {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#fridge a {
  display: flex;
  gap: 1rem;
  text-decoration: none;
}